<div>
    <form>
        <table>
            <caption>Registration Form</caption>
            <tr>
                <td><label>Enter First Name</label></td>
                <td><input type="text" formControlName="firstName"></td>
            </tr>
            <tr>
                <td><label>Enter Last Name</label></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><label>Enter Email Id</label></td>
                <td><input type="email"></td>
            </tr>
            <tr>
                <td><label>Enter Mobile Number</label></td>
                <td><input type="tel"></td>
            </tr>
            <tr>
                <td><label>Set Username</label></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><label>Set new Password</label></td>
                <td><input type="password"></td>
            </tr>
            <tr>
                <td><label>Confirm Password</label></td>
                <td><input type="password"></td>
            </tr>
        </table>
    </form>
</div>