<div>
    <h2>Subtraction of Numbers</h2>
<div>
    <label>Enter Number 1:</label>
    <input type="number" [(ngModel)]="num1">
    <label>Enter Number 2:</label>
    <input type="number" [(ngModel)]="num2">
    <label>Enter Number 3:</label>
    <input type="number" [(ngModel)]="num3">
    <button (click)="add()">ADD</button>
</div>
<div>
    <p>
        <b>Result is: {{subResult}}</b>
    </p>
</div>
</div>
<div>
    <h2>Counter from Service</h2>
    <b>Counter is :{{subCompCounter}}</b>
</div>
