.myNav{
    border: 3px solid pink;
    background-color: black;
    color: white;
}
.myFlex{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}


.myFlex li a{
    color: white;
}

.colorClass{
    background-color: gray;
    color:blue;
}
.decorationClass{
    padding: 10px;
    border: 2px yellow solid;
}
.fontClass{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}